@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'authentication';
@import 'components/home/menu_section';

body { font-family: 'Open Sans', sans-serif; }

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden { display: none; }
  .loader-active { display: block; }
}

.app-preview-container {
  float: right;
  width: 50%;
}

.landing-left-side {
  float: left;
  padding: 50px 175px;
  text-align: center;
  width: 50%;
}

.uppercase { text-transform: uppercase; }

.home-left-section {
  float: left;
  height: 100vh;
  width: 25%;
}

.map-canvas {
  float: right;
  height: 100vh;
  width: 75%;
}
